body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

h2 {
  color: #3f51b5;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #303f9f;
}
